/* linea de comentario */

/* estilos del header */

body {
    background-image: url(../img/la-caja.jpg) ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
header{
    background-color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
header h1{
    color: white;
    text-align: center;
}
header nav{
    background-color: red;
}
header nav ul{
    list-style: none;
}

header nav ul li{
    color:seashell
}

header nav ul li a{
    text-decoration: none;
    color: seashell;
}
main.colorNuevo{
text-align: center;
text-decoration: underline;
color:tomato
}

main p{
    text-align: center;
}
main .parrafoDos{
    color:blueviolet
}